<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website - About</title>
</head>
<body>
  <header>
    <h1 align="center">Shaneisia Bailey</h1>
    <p align="center"><em>Future Software Engineer/Full-Stack Developer</em></p>
  </header>
  <br>
  <hr>
  <h2 align="left">About</h2>
  <p align="justify">Shaneisia Bailey is a 22 year old past student of Westwood High School, who hails from Golden Grove in the beautiful parish of St. Ann. She is currently pursuing a Bachelor's degree in Software Engineering at the University of the West Indies. She enjoys reading novels, listening to music, watching Marvel movies and talking about current affairs with friends and family. </p>
</body>
</html>